
body.waves {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}
a {
  color:#0078ff;
}


.background-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.background-image img {
	width: 100%;
    height: auto;
}
main .title {
	z-index: 2;
	position: absolute;
	top: 20px;

}
header {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	text-align: center;
}
nav a {
	color: #00FDFF;
	font-size: 35px;
}
html body {
	height: 100%;
}

ul , li {
  margin: 0;
  padding: 0;
}

